[Unit]
Description=Firefox profile memory cache

[Install]
WantedBy=default.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dir2ram
ExecStop=/usr/bin/dir2ram
RemainAfterExit=yes
