[Unit]
Description=Transferring folders from SSD to RAM and periodic backup to HDD

[Install]
WantedBy=default.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dir2ram
ExecStop=/usr/bin/dir2ram
RemainAfterExit=yes
